* {
  margin: 0;
  padding: 0 !important;
  box-sizing: border-box;
}
#main {
  background: url("./../img/earth-from-space-1442849073.jpg");
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}
.btn-login {
  padding: 8px 30px !important;
  display: inline-block;
  background-color: white;
  border: 2px solid white !important;
  font-weight: 500;
  font-size: 18px;
}
.btn-login:hover {
  color: white !important;
}
.header {
  background-color: #272933;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.nav {
  background-color: white;
  height: 100vh;
}
.nav-list {
  list-style: none;
}
.nav-list a {
  padding: 1rem !important;
  display: inline-block;
}
.nav-list li:hover {
  background-color: #3256a4;
}
.nav-list li:hover a {
  color: white !important;
}
.nav-list a {
  text-decoration: none;
  font-size: 18px;
  color: #3256a4 !important;
  font-weight: 500;
}
.main-body {
  background-color: #f5f7ff;
  flex: 1;
}
.date-area {
  margin: 12rem auto;
  background-color: transparent;
}
.date h5 {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px !important;
  border-radius: 7px;
  font-size: 18px;
  color: #3256a4;
  -webkit-text-stroke: 0.3px;
}

.footer {
  background-color: #272933;
}
.social-medias a {
  text-decoration: none;
  margin-right: 10px;
}
.footer-copyright {
  color: white;
}
/* Login.html */
#login-form input,
#login-form button {
  padding: 10px 20px !important;
}
.login-main {
  background-color: #00162b;
  color: white;
}
.login-area {
  margin: 200px auto;
  width: 50%;
}
/* allUsers.html */
.logout-btn {
  font-weight: 500;
}
.all-users__body h3 {
  color: #3256a4;
}
#select,
#select:active {
  padding: 10px !important;
  border: 2px solid #3256a4;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 5px;
  font-weight: 500;
  color: #3256a4;
}
#select option {
  color: #3256a4;
  font-weight: 500;
}
.all-users__table table {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.all-users__table .table th,
.all-users__table .table td {
  color: #00162b;
  padding: 15px !important;
}
.all-users__table tbody td {
  vertical-align: middle;
}
.all-users__table thead th {
  text-align: center;
}
.remove-user {
  padding: 10px 15px !important;
  font-weight: 500;
}
.activated,
.update-btn,
.search-btn {
  width: 80px;
  padding: 10px !important;
  font-weight: 500;
}
.activity-btn {
  cursor: pointer;
}
.activity-btn:first-child {
  margin-right: 15px;
}
.search-input {
  border: 2px solid #3256a4;
  border-radius: 5px;
}
.all-users__table .table thead tr th {
  width: max-content;
}
.all-users__table .trow td:nth-of-type(2n) {
  background-color: #fafafd;
}
.all-users__table .table-body tr td {
  text-align: center;
  width: max-content;
  padding: 10px !important;
}
.all-users__table .table-container {
  max-width: 100%;
}

.fullname-trow {
  cursor: pointer;
}

/* Table responsivenes */
@media (max-width: 576px) {
  .hidden-nav {
    width: 180px !important;
  }
  .nav-list a {
    font-size: 15px;
  }
  .all-users__table .table-body {
    display: flex;
    flex-wrap: wrap;
  }
  .all-users__table .table-body tr {
    width: 50%;
  }
  .all-users__table .table-body tr td {
    width: 100%;
    display: block;
    width: 100%;
    text-align: left;
    display: grid;
    grid-template-columns: 8ch auto;
    align-items: center;
  }
  .all-users__table table {
    width: 100% !important;
  }
  .all-users__table td::before {
    content: attr(data-cell) ":";
    font-weight: 500;
  }

  .all-users__table td:first-child {
    padding-top: 2rem;
  }
  .all-users__table td:last-child {
    padding-bottom: 2rem;
  }
  .all-users__table th {
    display: none;
  }
  .all-users__table tr {
    display: block;
    margin-bottom: 30px;
  }
  .body-top {
    display: block !important;
    text-align: center;
  }
  .all-users__filter {
    margin-bottom: 10px;
  }
  .search-area {
    display: block !important;
    margin-bottom: 10px;
  }
  .search-area button {
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .hidden-nav {
    width: 180px !important;
  }
  .nav-list a {
    font-size: 15px;
  }
  .all-users__table .table-body {
    display: flex;
    flex-wrap: wrap;
  }
  .all-users__table .table-body tr {
    width: 50%;
  }
  .all-users__table .table-body tr td {
    width: 100%;
    display: block;
    width: 100%;
    text-align: left;
    display: grid;
    grid-template-columns: 15ch auto;
    align-items: center;
  }
  .all-users__table table {
    width: 100% !important;
  }
  .all-users__table td::before {
    content: attr(data-cell) ":";
    font-weight: 500;
  }
  .all-users__table td:first-child {
    padding-top: 2rem;
  }
  .all-users__table td:last-child {
    padding-bottom: 2rem;
  }
  .all-users__table th {
    display: none;
  }
  .all-users__table tr {
    display: block;
    margin-bottom: 30px;
  }
  .body-top {
    display: block !important;
    text-align: center;
  }
  .all-users__filter {
    margin-bottom: 10px;
  }
  .search-area {
    display: block !important;
    margin-bottom: 10px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .hidden-nav {
    width: 180px !important;
  }
  .nav-list a {
    font-size: 15px;
  }
  .all-users__table .table-body {
    display: flex;
    flex-wrap: wrap;
  }
  .all-users__table .table-body tr {
    width: 50%;
  }
  .all-users__table .table-body tr td {
    width: 100%;
    display: block;
    width: 100%;
    text-align: left;
    display: grid;
    grid-template-columns: 15ch auto;
    align-items: center;
  }
  .all-users__table table {
    width: 100% !important;
  }
  .all-users__table td::before {
    content: attr(data-cell) ":";
    font-weight: 500;
  }
  .all-users__table th {
    display: none;
  }
  .all-users__table tr {
    display: block;
    margin-bottom: 30px;
  }
}
@media (min-width: 992px) and (max-width: 1200px) {
  .hidden-nav {
    width: 180px !important;
  }
  .nav-list a {
    font-size: 15px;
  }
  .all-users__table .table-body {
    display: flex;
    flex-wrap: wrap;
  }
  .all-users__table .table-body tr {
    width: 50%;
  }
  .all-users__table .table-body tr td {
    width: 100%;
    display: block;
    width: 100%;
    text-align: left;
    display: grid;
    grid-template-columns: 15ch auto;
    align-items: center;
  }
  .all-users__table table {
    width: 100% !important;
  }
  .all-users__table td::before {
    content: attr(data-cell) ":";
    font-weight: 500;
  }
  .all-users__table th {
    display: none;
  }
  .all-users__table tr {
    display: block;
    margin-bottom: 30px;
  }
}
@media (min-width: 1200px) and (max-width: 1500px) {
  .hidden-nav {
    width: 180px !important;
  }
  .nav-list a {
    font-size: 15px;
  }
  .all-users__table .table thead tr th {
    width: max-content;
    padding: 5px !important;
    font-size: 15px;
  }
  .all-users__table .table thead th {
    text-align: left;
  }
  .update-btn {
    font-size: 15px;
  }
  .all-users__table .table-body tr td {
    text-align: left;
    width: 200px !important;
    padding: 5px !important;
    font-size: 15px;
  }
  .body-top {
    font-size: 15px;
  }
  .date-time {
    font-size: 15px !important;
  }
  .body-top h3 {
    font-size: 22px;
  }
}
/* userProfile.html */
.user-profile__body {
  background: white;
  padding: 1rem !important;
  border-radius: 8px;
}
.user-info {
  font-weight: 500;
  font-size: 17px;
}
.user-info i {
  margin-right: 5px;
  color: #3256a4;
}
.user-profile__post {
  background-color: #f7f7f7;
  padding: 1rem !important;
  border-radius: 8px;
  max-width: 550px;
}
.user-profile__post strong {
  font-size: 1.2rem;
}
.user-profile__post-comments strong i {
  font-size: 1.2rem;
  margin-right: 5px;
  color: #3256a4;
}
.user-profile__body p .user-profile__body h3,
.user-profile__body strong {
  color: #272933;
}
.user-profile__post-comment {
  max-width: 500px;
  text-align: justify;
}
.img-round {
  border-radius: 50%;
  border: 1px solid #eee;
}
/* CreateEvent html */
.create-event__body {
  background: white;
  border-radius: 5px;
  padding: 2rem !important;
  /* max-width: 600px; */
}
#create-event__form .form-group input {
  padding: 6px !important;
}
#create-event__form .form-group input {
  padding: 6px !important;
}
#create-event__form input[type="datetime-local"],
#create-event__form input[type="file"],
#create-event__form input[type="checkbox"] {
  padding: 6px !important;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}
.create-event__users tr td,
.create-event__users th {
  padding: 8px !important;
}
